.blog {
    margin-bottom: 101px;
    &__content { 
        @extend %flexCenter;
        @include settingsFlexCenter ($gap: 44px, $flexDirection: column);
        padding: 0;
    }
    &__slider {
        margin-top: 78px;
        width: 100%;
    }
    &__slider-image{
        width: 390px;
        height: 421px;
    }
    &__slider-wrapper {
        width: 1084px;
    }
    &__slider-slide {
        @extend %flexCenter;
        width: 390px;
        height: 421px;
    }
    &__button-prev {}
    &__button-next {}
    &__btn {
        padding-left: 69.5px;
        padding-right: 69.5px;
    }
    &__subtitle{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
}
.swiper-button-prev {
    &::after{
        content: url(../icomoon/SVG/arrow-left.svg);
        width: 96px;
        height: 64px;
    }
    width: 96px;
    height: 64px;
}
.swiper-button-next {
    &::after{
        content: url(../icomoon/SVG/arrow-right.svg);
        width: 96px;
        height: 64px;
    }
    width: 96px;
    height: 64px;
}
