.contact-modal-wrapper {
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -200%;
    left: 0;
    opacity: 0;
    @extend %flexCenter;
    transition: opacity 1000ms, top 300ms;
}
.contact-modal {
    background-color: #fff;
    position: relative;
    padding: 48px 32px;
    width: 480px;
    z-index: 40;
    @include displayFlex ($alignItems: flex-start, $justifyContent: center, $gap: 24px, $flexDirection: column);
    &__close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
    }
    &__close-btn-svg{
        width: 24px;
        height: 24px;
    }
    &__title {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__text {
        color: $grayColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 8px;
    }
    &__input-wrapper {
        @include displayFlex ($alignItems: flex-start, $justifyContent: center, $gap: 8px, $flexDirection: column);
        color: $grayColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 100%;
    }
    &__input {
        color: $blackColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 16px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $inputFocusBorderColor;
        transition: all 250ms;
        &:focus{
            outline: none;
            border: 1px solid $blackColor;
        }
        &::placeholder{
            color: $grayColorInput;
        }
    }
    &__btn {
        margin-top: 14px;
        border-radius: 8px;
        padding: 14px 184px;
        background-color: $pinkColor;
        color: $whiteColor;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        &:disabled{
            background-color: rgba(232, 111, 84, 0.40);
        }
    }
}
.active{
    top: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.30);
}
@media (max-width:550px){
    .contact-modal{
        width: 272px;
        padding: 28px 16px;
        gap: 14px;

        &__title{
            font-size: 30px;
        }
        &__text{
            font-size: 12px;
            margin-bottom: 4px;
        }
        &__close-btn-svg, &__close-btn {
            width: 18px;
            height: 18px;
        }
        &__close-btn{
            top: 24px;
            right: 24px;
        }
        &__btn{
            font-size: 14px;
            margin-top: 10px;
            padding: 10px 102px 10px 101px;
        }
    }
}