.delivery {
    padding-bottom: 391px;
    background-image: url(../image/delivery/bg-delivery.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 391px;
    &__content {
        @extend %flexCenter;
        @include settingsFlexCenter ($gap: 80px, $flexDirection: column);
    }
}
.order-instructions-list {
    @include displayFlex ($alignItems: flex-start, $justifyContent: center, $gap: 32px, $flexDirection: column);
    margin-bottom: 69px;
    &__item {
        @include displayFlex ($alignItems: center, $justifyContent: center, $gap: 56px, $flexDirection: row);
        &::before{
            content: "1";
            @extend %flexCenter;
            padding: 16px 27px;
            border: 1px solid $blackColor;
            border-radius: 33px;
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &:nth-child(2)::before{
            padding: 16px 25px 16px 24px;
            content: "2";
        }
        &:nth-child(3)::before{
            padding: 16px 25px 16px 24px;
            content: "3";
        }
        &:nth-child(4)::before{
            padding: 16px 23px;
            content: "4";
        }
    }
    &__text {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 855px;
    }
}
