.hero {
    background-image: url(../image/hero/image_hero_page@2x.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 390px 636px;
    margin-bottom: 100px;
    &__content {
        @extend %flexCenter;
        @include settingsFlexCenter ($gap: 140px, $flexDirection: column);
        color: $blackColor;
        padding-top: 228px;
    }
    &__title {
        text-align: center;
        font-size: 160px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        &::before{
            content: '';
            display: block;
            height: 7px;
            width: 58px;
            background-color: $blackColor;
            position: absolute;
            right: 22px;
            top: 17px;
        }
    }
}
.hero-bg-decoration {
    @extend %flexCenter;
    @include settingsFlexCenter ($gap: 610px, $flexDirection: row);
    &__subtitle {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 166px;
        text-align: right;
    }
    &__svg {
        width:166px; 
        height: 166px;
    }
}

@media (max-width: 1024px) {
    .hero{
        &__title{
            font-size: 120px;
            &::before{
                display: none;
            }
        }
        &__content{
            gap: 172px;
        }
    }
    .hero-bg-decoration {
        gap: 450px;
        &__subtitle{
            font-size: 24px;
            width: 145px;
        }
        &__svg{
            width: 145px;
            height: 150px;
        }
    }
}
@media (max-width: 767px){
    .hero{
        background-image: url(../image/hero/image_hero_page.png);
        background-size: 203px 384px;
        // width: 145px;
        // height: 274px;
        &__title{
            font-size: 73px;
            // font-size: 52px;
        }
        &__content{
            gap: 85px;
            // 61
            padding-top: 154px;
            // 110
        }
    }
    .hero-bg-decoration{
        gap: 298px;
        // 167
        &__subtitle{
            width: 64px;
            // 46
            font-size: 20px;
            // 14
        }
        &__svg{
            width: 90px;
            // 64
            height: 109px;   
            // 78
        }
    }
}
@media (max-width: 460px){
    .hero{
        background-image: url(../image/hero/image_hero_page.png);
        background-size: 174px 329px;
        &__title{
            font-size: 62px;
        }
        &__content{
            gap: 73.2px;
            padding-top: 132px;
        }
    }
    .hero-bg-decoration{
        gap: 200px;
        &__subtitle{
            width: 55px;
            font-size: 17px;
        }
        &__svg{
            width: 77px;
            height: 94px;   
        }
    }
}
@media (max-width: 370px){
    .hero{
        background-image: url(../image/hero/image_hero_page.png);
        background-size: 145px 274px;
        &__title{
            font-size: 52px;
        }
        &__content{
            gap: 61px;
            padding-top: 110px;
        }
    }
    .hero-bg-decoration{
        gap: 167px;
        &__subtitle{
            width: 46px;
            font-size: 14px;
        }
        &__svg{
            width: 64px;
            height: 78px;   
        }
    }
}