@import 
'./mixin',
'./plaseholder',
'./vars',
'./keyframes';
@each $sectionTitle in about, store, delivery, blog {
    .#{$sectionTitle}__title{
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include displayFlex ($alignItems: center, $justifyContent: flex-start, $gap: 16px, $flexDirection: row);
        width: 100%;
        &::after{
            content: " ";
            width: 100%;
            height: 1px;
            background-color: $blackColor;
        }
    }
}
@each $sectionBtn in store, blog{
    .#{$sectionBtn}__btn{
        color: $whiteColor;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        padding: 20px 43px;
        border-radius: 38px;
        background-color: $pinkColor;
    }
}