@mixin displayFlex ($alignItems: center, $justifyContent: center, $gap: 0, $flexDirection: row){
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    gap: $gap;
    flex-direction: $flexDirection;
}
@mixin settingsFlexCenter ($gap: 0, $flexDirection: row){
    gap: $gap;
    flex-direction: $flexDirection;
}
@mixin displayGrid ($gridTemplateColumns, $gridTemplateRows, $rowGap, $columnGap){
    display: grid;
    grid-template-columns: $gridTemplateColumns;
    grid-template-rows: $gridTemplateRows;
    row-gap: $rowGap;
    column-gap: $columnGap;
}