.blog-modal__inner, .blog-modal-wrapper, .contact-modal-wrapper, .blog__slider-slide, .blog__content, .order-instructions-list__item::before, .delivery__content, .about__information, .hero-bg-decoration, .hero__content, .menu__item, .logo, .header__burger-btn, .header__phone-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes headerHoverTelAnimation {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(-10deg);
  }
  32% {
    transform: rotate(10deg);
  }
  48% {
    transform: rotate(-10deg);
  }
  64% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  96% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.about__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: row;
  width: 100%;
}
.about__title::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #000;
}

.store__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: row;
  width: 100%;
}
.store__title::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #000;
}

.delivery__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: row;
  width: 100%;
}
.delivery__title::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #000;
}

.blog__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: row;
  width: 100%;
}
.blog__title::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #000;
}

.store__btn {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 20px 43px;
  border-radius: 38px;
  background-color: #E86F54;
}

.blog__btn {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 20px 43px;
  border-radius: 38px;
  background-color: #E86F54;
}

.blog-modal__inner, .blog-modal-wrapper, .contact-modal-wrapper, .blog__slider-slide, .blog__content, .order-instructions-list__item::before, .delivery__content, .about__information, .hero-bg-decoration, .hero__content, .menu__item, .logo, .header__burger-btn, .header__phone-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes headerHoverTelAnimation {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(-10deg);
  }
  32% {
    transform: rotate(10deg);
  }
  48% {
    transform: rotate(-10deg);
  }
  64% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  96% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  color: #000;
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, li, menu, p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
}

.container {
  width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.header {
  padding-top: 28px;
  margin-bottom: 64px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  flex-direction: row;
}
.header__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14;
  flex-direction: row;
}
.header__phone-btn:hover {
  animation: headerHoverTelAnimation 400ms 3;
}
.header__burger-btn {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
  z-index: 30;
}
.header__burger-span {
  position: absolute;
  top: 4px;
  right: 0;
  width: 18px;
  height: 2px;
  background-color: #000;
  transition: background-color 300ms, top 290ms, transform 290ms;
}
.header__burger-span:nth-child(2) {
  width: 12px;
  top: 11px;
}
.header__burger-span:nth-child(3) {
  top: 18px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
}

.logo {
  width: 72px;
  height: 57px;
  flex-shrink: 0;
}
.logo__svg {
  fill: #0E0E0E;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex-direction: row;
  transition: top 300ms;
}
.menu__link {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 270ms;
}
.menu__link:hover {
  transform: scale(1.1);
}

.header.burger-menu-active .menu {
  top: 0;
}

@media (max-width: 991px) {
  .menu {
    gap: 24px;
  }
  .header {
    padding-top: 24px;
    margin-bottom: 38px;
  }
  .header__phone-svg {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: absolute;
    flex-direction: column;
    gap: 26px;
    top: -20000000%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #E86F54;
    z-index: 10;
  }
  .menu__link {
    color: #fff;
  }
  .header {
    padding: 16px;
  }
  .header__burger-btn {
    display: block;
  }
  .header.burger-menu-active .header__burger-span {
    background-color: #fff;
    top: 11px;
  }
  .header.burger-menu-active .header__burger-span:nth-child(2) {
    display: none;
  }
  .header.burger-menu-active .header__burger-span:nth-child(1) {
    transform: rotate(45deg);
  }
  .header.burger-menu-active .header__burger-span:nth-child(3) {
    transform: rotate(-45deg);
  }
}
@media (max-width: 460px) {
  .header {
    margin-bottom: 44px;
  }
}
.hero {
  background-image: url(../image/hero/image_hero_page@2x.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 390px 636px;
  margin-bottom: 100px;
}
.hero__content {
  gap: 140px;
  flex-direction: column;
  color: #000;
  padding-top: 228px;
}
.hero__title {
  text-align: center;
  font-size: 160px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.hero__title::before {
  content: "";
  display: block;
  height: 7px;
  width: 58px;
  background-color: #000;
  position: absolute;
  right: 22px;
  top: 17px;
}

.hero-bg-decoration {
  gap: 610px;
  flex-direction: row;
}
.hero-bg-decoration__subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 166px;
  text-align: right;
}
.hero-bg-decoration__svg {
  width: 166px;
  height: 166px;
}

@media (max-width: 1024px) {
  .hero__title {
    font-size: 120px;
  }
  .hero__title::before {
    display: none;
  }
  .hero__content {
    gap: 172px;
  }
  .hero-bg-decoration {
    gap: 450px;
  }
  .hero-bg-decoration__subtitle {
    font-size: 24px;
    width: 145px;
  }
  .hero-bg-decoration__svg {
    width: 145px;
    height: 150px;
  }
}
@media (max-width: 767px) {
  .hero {
    background-image: url(../image/hero/image_hero_page.png);
    background-size: 203px 384px;
  }
  .hero__title {
    font-size: 73px;
  }
  .hero__content {
    gap: 85px;
    padding-top: 154px;
  }
  .hero-bg-decoration {
    gap: 298px;
  }
  .hero-bg-decoration__subtitle {
    width: 64px;
    font-size: 20px;
  }
  .hero-bg-decoration__svg {
    width: 90px;
    height: 109px;
  }
}
@media (max-width: 460px) {
  .hero {
    background-image: url(../image/hero/image_hero_page.png);
    background-size: 174px 329px;
  }
  .hero__title {
    font-size: 62px;
  }
  .hero__content {
    gap: 73.2px;
    padding-top: 132px;
  }
  .hero-bg-decoration {
    gap: 200px;
  }
  .hero-bg-decoration__subtitle {
    width: 55px;
    font-size: 17px;
  }
  .hero-bg-decoration__svg {
    width: 77px;
    height: 94px;
  }
}
@media (max-width: 370px) {
  .hero {
    background-image: url(../image/hero/image_hero_page.png);
    background-size: 145px 274px;
  }
  .hero__title {
    font-size: 52px;
  }
  .hero__content {
    gap: 61px;
    padding-top: 110px;
  }
  .hero-bg-decoration {
    gap: 167px;
  }
  .hero-bg-decoration__subtitle {
    width: 46px;
    font-size: 14px;
  }
  .hero-bg-decoration__svg {
    width: 64px;
    height: 78px;
  }
}
.about {
  margin-bottom: 100px;
}
.about__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 26px;
  flex-direction: column;
}
.about__information {
  gap: 90px;
  flex-direction: row;
}
.about__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 510px;
}

@media (max-width: 1400px) {
  .about__image {
    width: 506px;
    height: 275px;
  }
}
@media (max-width: 1200px) {
  .about__image {
    width: 442px;
    height: 241px;
  }
  .about__text {
    width: 484px;
  }
  .about__information {
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .about__text {
    width: 322px;
    font-size: 20px;
  }
  .about__image {
    width: 344px;
    height: 217px;
  }
  .about__information {
    gap: 54px;
  }
}
@media (max-width: 991px) and (min-width: 720px) {
  .about__information {
    gap: 30px;
  }
}
@media (max-width: 720px) {
  .about__text {
    width: 100%;
    font-size: 16px;
  }
  .about__content {
    align-items: center;
  }
  .about__image {
    width: 98%;
    height: auto;
  }
  .about__information {
    gap: 16px;
    flex-direction: column;
  }
}
.store {
  margin-bottom: 100px;
}
.store__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  flex-direction: column;
}
.store__list {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(2, 640px);
  row-gap: 64px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding-bottom: 34px;
}
.store__options {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
}
.store__img {
  width: 100%;
  display: block;
  height: auto;
  padding-bottom: 12px;
}
.store__options-name {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  width: 100%;
}
.store__options-name::before {
  content: " ";
  height: 1px;
  width: 340px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 49.5%;
}
.store__options-name:nth-child(2)::before {
  width: 298px;
}
.store__options-name:nth-child(3)::before {
  width: 286px;
}
.store__options-name:nth-child(4)::before {
  width: 299px;
}
.store__options-price {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.6;
}

.delivery {
  padding-bottom: 391px;
  background-image: url(../image/delivery/bg-delivery@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 391px;
  margin-bottom: 100px;
}
.delivery__content {
  gap: 80px;
  flex-direction: column;
}

.order-instructions-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 69px;
}
.order-instructions-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  flex-direction: row;
}
.order-instructions-list__item::before {
  content: "1";
  padding: 16px 27px;
  border: 1px solid #000;
  border-radius: 33px;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order-instructions-list__item:nth-child(2)::before {
  padding: 16px 25px 16px 24px;
  content: "2";
}
.order-instructions-list__item:nth-child(3)::before {
  padding: 16px 25px 16px 24px;
  content: "3";
}
.order-instructions-list__item:nth-child(4)::before {
  padding: 16px 23px;
  content: "4";
}
.order-instructions-list__text {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 855px;
}

.blog {
  margin-bottom: 101px;
}
.blog__content {
  gap: 44px;
  flex-direction: column;
  padding: 0;
}
.blog__slider {
  margin-top: 78px;
  width: 100%;
}
.blog__slider-image {
  width: 390px;
  height: 421px;
}
.blog__slider-wrapper {
  width: 1084px;
}
.blog__slider-slide {
  width: 390px;
  height: 421px;
}
.blog__btn {
  padding-left: 69.5px;
  padding-right: 69.5px;
}
.blog__subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.swiper-button-prev {
  width: 96px;
  height: 64px;
}
.swiper-button-prev::after {
  content: url(../icomoon/SVG/arrow-left.svg);
  width: 96px;
  height: 64px;
}

.swiper-button-next {
  width: 96px;
  height: 64px;
}
.swiper-button-next::after {
  content: url(../icomoon/SVG/arrow-right.svg);
  width: 96px;
  height: 64px;
}

.contact-modal-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
  transition: opacity 900ms, top 300ms;
}

.contact-modal {
  background-color: #fff;
  position: relative;
  padding: 48px 32px;
  width: 480px;
  z-index: 40;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
}
.contact-modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}
.contact-modal__close-btn-svg {
  width: 24px;
  height: 24px;
}
.contact-modal__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-modal__text {
  color: #5C5C5C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}
.contact-modal__input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  color: #5C5C5C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
}
.contact-modal__input {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  transition: all 250ms;
}
.contact-modal__input:focus {
  outline: none;
  border: 1px solid #000;
}
.contact-modal__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.contact-modal__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.contact-modal__btn {
  margin-top: 14px;
  border-radius: 8px;
  padding: 14px 184px;
  background-color: #E86F54;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-modal__btn:disabled {
  background-color: rgba(232, 111, 84, 0.4);
}

.active {
  top: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 550px) {
  .contact-modal {
    width: 272px;
    padding: 28px 16px;
    gap: 14px;
  }
  .contact-modal__title {
    font-size: 30px;
  }
  .contact-modal__text {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .contact-modal__close-btn-svg, .contact-modal__close-btn {
    width: 18px;
    height: 18px;
  }
  .contact-modal__close-btn {
    top: 24px;
    right: 24px;
  }
  .contact-modal__btn {
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 102px 10px 101px;
  }
}
.blog-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -200%;
  z-index: 50;
  opacity: 0;
  transition: left 300ms, opacity 1000ms;
}

.blog-modal-active {
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.blog-modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  padding: 111px 40px 112px 468px;
  background-color: #fff;
  position: relative;
  background-image: url(../image/blog-modal/blog-modal-image.png);
  background-repeat: no-repeat;
  background-position: left;
}
.blog-modal__close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
}
.blog-modal__inner {
  gap: 24px;
  flex-direction: column;
  width: 352px;
}
.blog-modal__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.blog-modal__text {
  color: #5C5C5C;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0 8px 8px 8px;
}
.blog-modal__input-wrapper {
  color: #5C5C5C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  width: 100%;
  padding: 0 8px 4px 8px;
}
.blog-modal__input {
  padding: 16px 12px;
  width: 100%;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  transition: all 250ms;
}
.blog-modal__input:focus {
  outline: none;
  border: 1px solid #000;
}
.blog-modal__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog-modal__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blog-modal__btn {
  color: #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 14px 122px;
  background-color: #E86F54;
}