.order-instructions-list__item::before, .delivery__content, .about__information, .hero-bg-decoration, .hero__content, .menu__item, .logo, .header__phone-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes headerHoverTelAnimation {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(-10deg);
  }
  32% {
    transform: rotate(10deg);
  }
  48% {
    transform: rotate(-10deg);
  }
  64% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  96% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.about__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: row;
  width: 100%;
}
.about__title::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #000;
}

.store__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: row;
  width: 100%;
}
.store__title::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #000;
}

.delivery__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: row;
  width: 100%;
}
.delivery__title::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #000;
}

.order-instructions-list__item::before, .delivery__content, .about__information, .hero-bg-decoration, .hero__content, .menu__item, .logo, .header__phone-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes headerHoverTelAnimation {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(-10deg);
  }
  32% {
    transform: rotate(10deg);
  }
  48% {
    transform: rotate(-10deg);
  }
  64% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  96% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  color: #000;
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, li, menu, p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
}

.container {
  width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.header {
  padding-top: 28px;
  margin-bottom: 64px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  flex-direction: row;
}
.header__phone-link:hover {
  animation: headerHoverTelAnimation 400ms 3;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
}

.logo {
  width: 72px;
  height: 57px;
  flex-shrink: 0;
}
.logo__svg {
  fill: #0E0E0E;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex-direction: row;
}
.menu__link {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 270ms;
}
.menu__link:hover {
  transform: scale(1.1);
}

.hero {
  background-image: url(../image/hero/image_hero_page.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 390px 636px;
  margin-bottom: 100px;
}
.hero__content {
  gap: 140px;
  flex-direction: column;
  color: #000;
  padding-top: 228px;
}
.hero__title {
  text-align: center;
  font-size: 160px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.hero__title::before {
  content: "";
  display: block;
  height: 7px;
  width: 58px;
  background-color: #000;
  position: absolute;
  right: 22px;
  top: 17px;
}

.hero-bg-decoration {
  gap: 610px;
  flex-direction: row;
}
.hero-bg-decoration__subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 166px;
  text-align: right;
}
.hero-bg-decoration__img {
  src: url(.././image/bouquet1.png);
}

@media (max-width: 992px) {
  .hero-bg-decoration__img {
    src: url(.././image/bouquet1.png);
  }
}
.about {
  margin-bottom: 100px;
}
.about__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 26px;
  flex-direction: column;
}
.about__information {
  gap: 90px;
  flex-direction: row;
}
.about__text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 510px;
}

.store {
  margin-bottom: 100px;
}
.store__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  flex-direction: column;
}
.store__list {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(2, 640px);
  row-gap: 64px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding-bottom: 34px;
}
.store__options {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
}
.store__img {
  width: 100%;
  display: block;
  height: auto;
  padding-bottom: 12px;
}
.store__options-name {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  width: 100%;
}
.store__options-name::before {
  content: " ";
  height: 1px;
  width: 340px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 49.5%;
}
.store__options-name:nth-child(2)::before {
  width: 298px;
}
.store__options-name:nth-child(3)::before {
  width: 286px;
}
.store__options-name:nth-child(4)::before {
  width: 299px;
}
.store__options-price {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.6;
}
.store__btn {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 20px 43px;
  border-radius: 38px;
  background-color: #E86F54;
}

.delivery {
  padding-bottom: 391px;
  background-image: url(../image/delivery/bg-delivery.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 391px;
}
.delivery__content {
  gap: 80px;
  flex-direction: column;
}

.order-instructions-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 69px;
}
.order-instructions-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  flex-direction: row;
}
.order-instructions-list__item::before {
  content: "1";
  padding: 16px 27px;
  border: 1px solid #000;
  border-radius: 33px;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order-instructions-list__item:nth-child(2)::before {
  padding: 16px 25px 16px 24px;
  content: "2";
}
.order-instructions-list__item:nth-child(3)::before {
  padding: 16px 25px 16px 24px;
  content: "3";
}
.order-instructions-list__item:nth-child(4)::before {
  padding: 16px 23px;
  content: "4";
}
.order-instructions-list__text {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 855px;
}