// utils
@import 
'./utils/each',
'./utils/mixin',
'./utils/plaseholder',
'./utils/vars',
'./utils/keyframes';

// base style
body{
    color: $blackColor;
    font-family: Montserrat;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, li, menu, p {
    margin: 0;
    padding: 0;
}
button{
    border: none;
    margin: 0;
    background-color: #ffffff00;
}
.container{
    width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
}

// components
@import 
'./components/header.scss',
'./components/hero',
'./components/about',
'./components/store',
'./components/delivery',
'./components/blog',
'./components/contact-modal';

